test/
.vscode/
hoodini/__pycache__/**
*.egg-info/
commit_contig_lengths.py
src/hoodini/data/metacerberus/*
src/hoodini/data/metacerberus/**
src/hoodini/data/assembly_summary.parquet
src/hoodini/data/emapper/*
src/hoodini/data/emapper/**
src/hoodini/data/genomad_db/*
src/hoodini/data/genomad_db/**
**/__pycache__/
src/hoodini/data/contig_lengths/**
src/hoodini/data/contig_lengths/
.pytest_cache/
**/*.pyc
.ruff_cache/
.mypy_cache/
# Generated examples / results
example/results/
.pytest_cache/
**/*.pyc
.ruff_cache/
.mypy_cache/
