black==24.4.2
isort==5.13.2
ruff==0.6.8
mypy==1.10.0
pytest==7.4.4
pre-commit==3.7.1
pandas
polars
click
rich-click
rich
pyarrow
numpy
tomli
ete3
requests
networkx
biopython
pyhmmer
tqdm
uniprot-id-mapper
taxoniq
gb-io
pyrodigal
orfipy
